Repository hyesungoh/comet-land, pull requests merged in 2022-08, with the labels that each got.

#111 Apply deploy with github pages
  README.md
  _docs/en-deploy-github-pages.md
  _docs/en-deploy-vercel.md
  _docs/ko-deploy-github-pages.md
  _docs/ko-deploy-vercel.md
  _docs/ko-readme.md
  apps/blog/next.config.js
  apps/blog/package.json
  apps/blog/src/libs/kbarActions/index.ts
  apps/resume/next.config.js
  apps/resume/package.json
  package.json
Labels: documentation, enhancement

#114 Apply configurable background color
  packages/core/constants/Colors/index.ts
  packages/core/styles/theme/darkTheme.ts
  packages/core/styles/theme/lightTheme.ts
Labels: enhancement, design

#115 fix: modify use case url.
  README.md
Labels: documentation
