Repository hyesungoh/comet-land, pull requests merged in 2023-04, with the labels that each got.

#134 update testing-library with handling linstaged error
  .lintstagedrc.json
  package.json
  packages/config/eslint-nextjs.js
  packages/config/jest.js
  yarn.lock
Labels: upgrade, fix

#135 append few tests
  packages/core/components/Footer/index.test.tsx
  packages/core/components/Icon/Icon.test.tsx
  packages/core/components/Icon/index.test.tsx
Labels: test: unit, area: core

#136 docs: append use case
  README.md
Labels: documentation

#137 update korean readme
  _docs/ko-readme.md
Labels: documentation

#138 Update resume and kbar elements color
  apps/resume/src/components/TitleTooltip/TitleTooltip.tsx
  packages/core/components/Kbar/Result.tsx
  packages/core/components/Kbar/Search.tsx
Labels: style, area: resume, area: core
